.crypto-table-container {
  background-color: #000c1f;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  color: #f6f6f6;
}

.sticky-column {
  position: sticky;
  left: 0;
  background-color: rgb(0, 37, 28);
  z-index: 1;
}

.connection {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #eeeeee;
}

.table-responsive {
  overflow-x: auto;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.crypto-table th {
  background-color: #3e3e3e;
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
  color: #f6f6f6;
  border-bottom: 2px solid #00746c;
  white-space: nowrap;
}

.crypto-table td {
  padding: 18px 14px;
  border-bottom: 1px solid #00746c;
  vertical-align: middle;
}

.crypto-table tbody tr:hover {
  background-color: #3d3d3d;
}
